sample02_ref.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--comment out-->
<!--refを使って子要素を親の外で定義する-->
<!--スキーマは階層が深くなりやすいので適宜refを使うことで可読性アップ-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element name="books">
        <xsd:complexType>
            <xsd:sequence> 
                <xsd:element ref="book"/>
            </xsd:sequence> 
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="book">
        <xsd:complexType> 
            <xsd:sequence> 
                <xsd:element name="title" type="xsd:string"/> 
                <xsd:element name="price" type="xsd:decimal"/> 
            </xsd:sequence> 
        </xsd:complexType>
    </xsd:element> 
</xsd:schema>    